/* Style the universal selector * rule to set the default margin to zero, padding to zero, and the box-sizing to border-box. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style the body rule to declare the font-family  */
body {
        font-family: Merriweather, Georgia, serif;
        font-size: 1.2em;
        color: #0e0d0d;
        background: #fff;
      }
/* Style the header and h1        */

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: blue;
    text-align: center;
}
/* Style the form with a width, a centered margin, padding, border, border-radius, background-color, and a display layout of grid. */

form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(14, 13, 13, 0.1);
  border-radius: 0.6rem;
  background-color: #eee;
  display: grid;
}
/* Style each fieldset to be a grid and provide a grid-gap */

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 2rem;
  border: 1px solid rgba(7, 7, 7, 0.2);
  padding: 2rem;
}
/* Style the fieldset legend. */

legend {
  padding: 0.6rem;
  color:  blue;
  font-size: 1.3em;
}
/* Option: Style all the form elements (label, input, button, select, and textarea) with a different font family */

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}
/* Style the label elements to text-align right and have a padding-right value. */
label {
  text-align: right;
  padding-right: 1rem;
}
/* Style the input, select, and textarea elements to have padding and a larger font-size. Note that this is critical in order to provide spacing inside of the form input elements. */

input, select, textarea {
  padding: 0.6rem;
  font-size: 1.1rem;
}
/* Style the checkbox element to be larger than the default size using width and height. Change the vertical-align to be at the bottom in order for it to fit in its space. */

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
/* Style the button as you see fit along with the button:hover pseudo-class. */

button {
  margin: 1rem;
  background-color: rgb(14, 14, 207);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(7, 90, 7);
}

/* Style the .form-item class selector to have a display of grid  */
.form-item {
  display: grid;
  align-items: center;
}
/* Style the .column1 class selector to have a grid-template-columns of 3fr 1fr */
.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}
/* Style the .column2 class selector to have a grid-template-columns of 1fr 2fr */
.column2 {
  grid-template-columns: 1fr 2fr;
}

/* style footer */

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}
