nav {
    background-color: blue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: x-large;

}

h1 {
    color: darkblue;
}

main p {
    font-weight: lighter;
    font-size: x-large;
    text-align: justify;
    border: 2px;
    padding: 0px;
    margin: 10px;

}

main img {
    width: 400px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
    border-radius: 20px;
    padding: 10px;
    float: none;

}

p {
    padding: 0;

}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1rem solid rgb(0 0 0 / 0.2);
    padding: 10px;
    background-color: #eee;
    color: #333;
    font-size: larger;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1rem solid #000;
    text-align: center;
    font-size: x-large;
}